*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

:root{
    --corPrincipal: rgba(255, 145, 0, 0.911);
    --corSecundaria: #111;
    --corTerciaria: rgb(255, 102, 0);
    --corBg: #fdd6b7c7;
}